<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title) {%><%= title %> | <% } %><%= config.title %></title>
  <meta name="author" content="<%= config.author %>">

  <% if (config.description) { %>
  <meta name="description" content="<%= config.description %>">
  <% } %>

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if (theme.favicon) { %>
  <%- favicon_tag('theme.favicon') %>
  <% } %>
  <%- css('css/screen') %>
  <% if (theme.rss) { %>
  <%- feed_tag('theme.rss') %>
  <% } %>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
  <link href="<%= __('font') %>/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link href="<%= __('font') %>/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="<%= __('font') %>/css?family=Fjalla+One" rel="stylesheet" type="text/css">
  <!-- Google analytics -->
  <%- partial('google-analytics') %>
</head>
